@using Web.SingleTon
@model Model.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tableType = Model.ListAvailableTables.GroupBy(t => t.IdTableType).Select(gr => gr.ToList()).ToList();

    var GioHienTai = DateTime.Now.TimeOfDay.Hours;
    var GioDefault = "9:00";

    GioHienTai = GioHienTai + 2;
    if (GioHienTai > 22)
    {
        GioDefault = "9:00";
    }
    else
    {
        GioDefault = GioHienTai.ToString() + ":00";
    }
    var ListGio = new SelectList(new List<SelectListItem>
    {
        new SelectListItem { Text = "6:00", Value = "6:00" },
        new SelectListItem { Text = "6:30", Value = "6:30" },
        new SelectListItem { Text = "7:00", Value = "7:00" },
        new SelectListItem { Text = "7:30", Value = "7:30" },
        new SelectListItem { Text = "8:00", Value = "8:00" },
        new SelectListItem { Text = "8:30", Value = "8:30" },
        new SelectListItem { Text = "9:00", Value = "9:00"},
        new SelectListItem { Text = "9:30", Value = "9:30" },
        new SelectListItem { Text = "10:00", Value = "10:00" },
        new SelectListItem { Text = "10:30", Value = "10:30" },
        new SelectListItem { Text = "11:00", Value = "11:00" },
        new SelectListItem { Text = "11:30", Value = "11:30" },
        new SelectListItem { Text = "12:00", Value = "12:00" },
        new SelectListItem { Text = "12:30", Value = "12:30" },
        new SelectListItem { Text = "13:00", Value = "13:00" },
        new SelectListItem { Text = "13:30", Value = "13:30" },
        new SelectListItem { Text = "14:00", Value = "14:00" },
        new SelectListItem { Text = "14:30", Value = "14:30" },
        new SelectListItem { Text = "15:00", Value = "15:00" },
        new SelectListItem { Text = "15:30", Value = "15:30" },
        new SelectListItem { Text = "16:00", Value = "16:00" },
        new SelectListItem { Text = "16:30", Value = "16:30" },
        new SelectListItem { Text = "17:00", Value = "17:00" },
        new SelectListItem { Text = "17:30", Value = "17:30" },
        new SelectListItem { Text = "18:00", Value = "18:00" },
        new SelectListItem { Text = "18:30", Value = "18:30" },
        new SelectListItem { Text = "19:00", Value = "19:00" },
        new SelectListItem { Text = "19:30", Value = "19:30" },
        new SelectListItem { Text = "20:00", Value = "20:00" },
        new SelectListItem { Text = "20:30", Value = "20:30" },
        new SelectListItem { Text = "21:00", Value = "21:00" },
        new SelectListItem { Text = "21:30", Value = "21:30" },
        new SelectListItem { Text = "22:00", Value = "22:00" }
    }, "Value", "Text", GioDefault.ToString());
}

<div class="container" style="color:aliceblue; font-family: Arial">
    <h1 style="color:antiquewhite">BOOKING TABLE</h1>

    <div class="w3-card-4" style="width:100%;background-color: rgba(231, 76, 60,0.8)">
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <div class="w3-quarter">
                <div id="inputs" >
                    <div class="col-sm-12" >
                        <h6 style="float:left">Number of people</h6>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Order.NumberOfCustomer, new { @class = "form-control", @id = "BeginTime", @style = "padding-left: 19px" })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h6 style="float:left">Time in</h6>
                        <div class="form-group">
                            @Html.DropDownList("BeginTime", ListGio, new { @class = "form-control", @id = "BeginTime", @style = "padding-left: 15px; padding-top: 8px" })                        
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h6 style="float:left">Time out</h6>
                        <div class="form-group">
                            @Html.DropDownList("EndTime", ListGio, new { @class = "form-control", @id = "EndTime", @style = "padding-left: 15px; padding-top: 8px" })                       
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h6 style="float:left">Description</h6>
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.Order.Description, new { @class = "form-control", @rows = 5, @style = "padding-left: 5px; border-radius: 10%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/assets/image/table2.jpg" alt="Steak" >
                <h3>TABLE FOR 2</h3>
                <h6>Table available:</h6>
                <div class="col-sm-12 col-lg-12">
                    <div class="checkbox">
                        <input id="checkbox1" type="checkbox">
                        <label for="checkbox1">
                            Table 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2">
                            Table 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="checkbox3" type="checkbox" checked="">
                        <label for="checkbox3">
                            Table 3
                        </label>
                    </div>
                </div>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/assets/image/table4.jpg" alt="Cherries" >
                <h3>TABLE FOR 4</h3>
                <h6>Table available:</h6>
                <div class="col-sm-12 col-lg-12">
                    <div class="checkbox">
                        <input id="checkbox1" type="checkbox">
                        <label for="checkbox1">
                            Table 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2">
                            Table 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="checkbox3" type="checkbox" checked="">
                        <label for="checkbox3">
                            Table 3
                        </label>
                    </div>
                </div>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/assets/image/table2.jpg" alt="Pasta and Wine" >
                <h3>TABLE FOR 6</h3>
                <h6>Table available:</h6>
                <div class="col-sm-12 col-lg-12">
                    <div class="checkbox">
                        <input id="checkbox1" type="checkbox">
                        <label for="checkbox1">
                            Table 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2">
                            Table 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="checkbox3" type="checkbox" checked="">
                        <label for="checkbox3">
                            Table 3
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="food" class="w3-row-padding w3-padding-16 w3-center">
            <div class="col-lg-12">
                <h2>Table map of restaurant</h2>
                <img src="~/Content/assets/image/layout_table.png"/>
            </div>
              
        </div>
    </div>
</div>
   

<script src="~/Scripts/SelectTable.js"></script>



