@using Model.Models
@using Web.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        @*<div class="page-header-image" data-parallax="true" style="background-image: url('~/Content/assets/img/header.jpg');">
        </div>*@
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="~/Content/assets/img/now-logo.png" alt="">
                <h1 class="h1-seo">Now UI Kit.</h1>
                <h3>A beautiful Bootstrap 4 UI kit. Yours free.</h3>
                <a href="#" data-toggle="modal" class="btn btn-primary btn-round btn-lg" data-target="#myModal">Booking Table</a>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="container">

        </div>
    </div>
</div>