@using Model.Models
@{
    ViewBag.Title = "Home Page";
}

@{
    var list = (List<RestaurantBranch>) ViewBag.list;
}
@foreach (var item in list)
{
    <p>@item.IdBranch, @item.Address, @item.Description</p>
}