@using Model.Models
@using Web.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div class="popup_gallery">
        <div class="cover_popup"></div>
        <div class="close_button"> X</div>
        <iframe id="video"></iframe>
    </div>
    <div id="parallax">
        <div class="layer" id="background">
            <img src="assets/image/background.jpg">
            <div class="layer" id="effect"></div>
        </div>
        <div class="layer animate-flicker" id="light"></div>
        <div class="layer" id="window"></div>

    </div>

    <div id="navigation_responsive">
        <ul>
            <li id="icon_bar"><i class="fa fa-home fa-2x" aria-hidden="true"></i></li>
            <div>
                <ul>
                    <li id="bt_about">ABOUT</li>
                    <li id="bt_service">SERVICES</li>
                    <li id="bt_gallery">GALLERY</li>
                    <li id="bt_contact">CONTACT</li>
                </ul>
            </div>
        </ul>
    </div>
</div>