@using Model.Models
@using Web.Models
@{
    ViewBag.Title = "Home Page";
}


<div id="container">
    @*page title end here*@
    <div class="page_title">
        <h1>RESTAURANT</h1>
        <h4>JUST ONLY RESTAURANT</h4>
        <a href="#" data-toggle="modal" class="btn btn-primary btn-round btn-lg" data-target="#myModal">
            Booking Table
        </a>
    </div>
    @*page title*@

    @*page about*@
    <div id="about" class="page_content">
        <h1>ABOUT</h1>
        <p>
            Smart Fun is a full fledged studio focusing on making game, interactive website, animated cartoon, art and
            music.
            <br /><br />
            Founded in 2015, Smartfun studio evolved from a young visionary team who embarked themselves on the mission
            of blending arts and technology into our multi-dimensional digital life with world industrial standards.
            <br />
        </p>

        <h3>OUR <span class="color_green" style="font-size: 200%;">4D</span> WORKING PROCESS</h3>
        <!-- <h4>DISCOVER > DESIGN > DEVELOP > DELIVER </h4> -->

        <div class="indent-3">
            <h3 class="fourD">DISCOVER</h3>
            <p>
                We invite you to sit down with us, help us to understand your business and project requirements in
                detail and we’ll help make sure your brand works smarter not harder. We also provide up-front
                consultancy to clients to make sure that you will receive real value with your new idea.
            </p>
        </div>

        <div class="indent-3">
            <h3 class="fourD">DESIGN</h3>
            <p>
                After the initial Discovery stage, we’ll create an effective design your business needs in today’s
                fast-paced world, from a banner, interactive website or even a game.
            </p>
        </div>

        <div class="indent-3">
            <h3 class="fourD">DEVELOP</h3>
            <p>
                Once the design has been approved, we will start on the full development of the banner, interactive
                website or game that will work alongside your business brand, helping your business to grow.
            </p>
        </div>

        <div class="indent-3">
            <h3 class="fourD">DELIVER</h3>
            <p>
                Not only do we work carefully with our design and development but we also deliver our work earlier
                following agile principle. This delivering approach helps minimizing the project’s risk of failure by
                adjusting quickly if there is any mismatch during the project management.
            </p>
        </div>


    </div>
    @*page about end here*@

    @*page service*@
    <div id="service" class="page_content">
        <h1>SERVICES</h1>
        <h2>DIGITAL BUSINESS CONSULTANCY </h2>
        <ul>
            <li>Consult digital business strategy in alignment with client’s business strategy</li>
        </ul>

        <h2>APP & WEBSITE DEVELOPMENT </h2>
        <ul>
            <li>
                Design and develop all things Webs, including website & interactive web; static and interactive Ads;
                Facebook app & ads
            </li>
            <li>Design fully functional app, real-times web app on multiple platform</li>
        </ul>

        <h2>GAME, UX & UI, ART DEVELOPMENT </h2>
        <ul>
            <li>Design and develop Games, Concept Arts, Game Arts and Digital Comics for multiple platforms.</li>
            <li>Produce game animation & web animations, digital comics animation, digital music.</li>
            <li>UX/UI design.</li>
        </ul>
    </div>
    @*page service end here*@
    
    @*page gallery*@
    <div id="slider_show_gallery">
        <h1 class="title_container"> PORTFOLIOS </h1>
        <p>
            Check out our latest work on UI/UX designing, Web development, from Mobile game to Website Game, original
            character design and digital arts.
            <br /><br />
            We made them from scratch or tailored it to our customer’s desire for their campaign.

        <p>
            <div class="content_slider_show_gallery">
                <div id="slider_1">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_2">
                    <div class="content_description">
                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_3">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">


                        </div>
                    </div>
                </div>
                <div id="slider_4">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_5">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
            </div>
            <img id="waterwheel" src="/Content/assets/image/guongnuoc.png">
    </div>
    @*page gallery end here*@

    @*page contact*@
    <div id="slider_show_gallery">
        <h1 class="title_container"> PORTFOLIOS </h1>
        <p>
            Check out our latest work on UI/UX designing, Web development, from Mobile game to Website Game, original
            character design and digital arts.
            <br /><br />
            We made them from scratch or tailored it to our customer’s desire for their campaign.

        <p>
            <div class="content_slider_show_gallery">
                <div id="slider_1">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_2">
                    <div class="content_description">
                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_3">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">


                        </div>
                    </div>
                </div>
                <div id="slider_4">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_5">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
            </div>
            <img id="waterwheel" src="/Content/assets/image/guongnuoc.png">
    </div>
    @*page contact end here*@
</div>

