@using Model.Models
@using Web.Models
@{
    ViewBag.Title = "Home Page";
}


<div id="container">
    @*page title end here*@
    <div class="page_title wow fadeInUp">
        <h2>RESTAURANT</h2>
        <h4>JUST ONLY RESTAURANT</h4>
        <a href="#" data-toggle="modal" class="btn btn-primary " data-target="#myModal">
            Booking Table
        </a>
    </div>
    @*page title*@

    @*page about*@
    <div id="about" class="page_content wow fadeInRight" style="background-color: rgba(50,50,50,0.8)">
        <h1>ABOUT US</h1>
        <p>
            Rosa is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection.
            <br /><br />
            For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  We love food, lots of different food, just like you.
            <br />
        </p>


    </div>
    @*page about end here*@

    @*page service*@
    <div id="service" class="page_content wow fadeInLeft " style="background-color: rgba(50,50,50,0.8)">
        <h1>SERVICES</h1>
        <h2>DIGITAL BUSINESS CONSULTANCY </h2>
        <ul>
            <li>We promise an intimate and relaxed dining experience that offers something different to local and foreign patrons and ensures you enjoy a memorable food experience every time.</li>
        </ul>
        <ul>
            <li>ROSA is an enchanting and easy-to-use parallax Restaurant WordPress theme that allows you to tell your story in a dynamic, narrative and enjoyable way, making it perfect for restaurants, bakeries, bars or coffee shops.</li>
           
        </ul>
    </div>
    @*page service end here*@
    
    @*page gallery*@
    <div id="slider_show_gallery">
        <h1 class="title_container wow fadeInRight" style="background-color: rgba(50,50,50,0.8); width:35%"> PORTFOLIOS </h1>
        <p class="wow fadeInLeft" style="background-color: rgba(50,50,50,0.8); width:35%">
            Whatever your event or celebration, we are here to make your special day a truly memorable one. Rosa’s private dining experts are more than happy to create custom floral arrangements and arrange for guests to meet Chef Moise during the course of their meal. For parties of 8-12 we have the roastery table which is available for private hire.

        <p>
            <div class="content_slider_show_gallery ">
                <div id="slider_1">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_2">
                    <div class="content_description">
                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_3">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">


                        </div>
                    </div>
                </div>
                <div id="slider_4">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div id="slider_5">
                    <div class="content_description">

                        <div class="img center"></div>
                        <div class="description">

                        </div>
                    </div>
                </div>
            </div>
            <img id="waterwheel" src="/Content/assets/image/guongnuoc.png" >
    </div>
    @*page gallery end here*@

    @*page contact*@
   
    @*page contact end here*@
</div>

