
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w3-card-4" style="width: 100%; background-color: rgba(231, 76, 60, 0.8)">
    <h2 style="color: antiquewhite; padding: 25px;" class="text-center">@ViewBag.message</h2>
</div>
