body {
    padding-top: 0px;
    padding-bottom: 0px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.fade.show {
    opacity: 1;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.card {
    display: block !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}
#layoutContent {
    padding-top: 60px;
    padding-bottom: 50px;
}
.text-center th {
    text-align: center !important;
}
.booking-error {
    list-style: none;
    background: white;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.booking-error ul {
    margin-bottom: 0px;
}