<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Value -->
    <add key="API" value="http://localhost:65320/api" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="RootSite" value="http://localhost:65250/" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
  <system.web>

  </system.web>
</configuration>
