<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Value -->
    <add key="API" value="http://api.sem3.dangnguyenthehung.com/api"  xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="RootSite" value="http://sem3.dangnguyenthehung.com/"  xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  
  
    <add key="PDTToken" value="UxJk_MqZlM-rIaOfZTMM0rF_8rDohNGIzMpXR8JQQRXe7FLgQzbIWSLhaZy" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PayPalUserName" value="dangnguyenthehung-facilitator@gmail.com" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="ReturnUrl" value="http://sem3.dangnguyenthehung.com/Booking/Deposit" xdt:Locator="Match(key)" xdt:Transform="Replace"/>

    <add key="ServerHourImbalance" value="15" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
